<div class="container">

    <div class="row">
    <div class="content col-lg-8 col-sm-12">
        <h2>ABOUT ME</h2>
        <p style="font-weight: bolder;">
            Computer science engineering student at INSAT
        </p>
        <p>
            Passionate about leveraging cutting-edge technologies to solve real-world problems. Skilled in building and tuning various machine learning models and applications, as well as developing dynamic and user-friendly web applications using modern frameworks and tools.
        </p>
        <p>
            📊 <strong>Expertise in AI and Machine Learning:</strong>
            <ul>
                <li>🧠 TensorFlow & PyTorch: Skilled in designing and training advanced models, including CNNs, RNNs, and Autoencoders.</li>
                <li>🔍 Transformer Models: Implemented and fine-tuned architectures like BERT and Graph Transformers for tasks such as NER, classification, and image-based applications.</li>
            </ul>
        
        <p>
            💻 <strong>Proficient in Web Development:</strong>
            <ul>
                <li>⚙️ Built dynamic applications using frameworks like Angular and NestJS, with a strong focus on user experience and real-time collaboration.</li>
            </ul>
    
        
        <p>
            ⚡ <strong>Fun fact:</strong>  I'm a professional handball player.

        </p>
        

    </div>
    <div class=" col-lg-4 col-sm-12">
        <app-list></app-list>
    </div>
</div>
</div>
