<div class="container">
<h1 style="text-align: center">SKILLS</h1>

<h6 style="text-align: center;color:rgba(255, 255, 255, 0.726); margin:4Vh ;">Driven by a talent for fast learning, I prioritize mastering the wide range of skills and technologies crucial for Artificial Intelligence.</h6>
<div class="scroller" data-direction="right" data-speed="fast">
  <div class="scroller__inner">
    <div class="skill"><img src="assets\skills\angular.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\nest.png" class="skill" /></div>
    <div class="skill"> <img src="assets\skills\spring.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\java.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\azure.webp" class="skill" /></div>
    <div class="skill"><img src="assets\skills\python.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\sql.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\c.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\js.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\git.jpg" class="skill" /></div>
    <div class="skill"><img src="assets\skills\yolo.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\TF.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\pytorch.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\gpt.webp" class="skill" /></div>
    <div class="skill"><img src="assets\skills\android.jpg" class="skill" /></div>
    <div class="skill"><img src="assets\skills\devops.png" class="skill" /></div>
    <div class="skill"><img src="assets\skills\React-JS.png" class="skill" /></div>

</div>
</div>
</div>
