<div class="container">
<h1 style="text-align: center">WHAT I OFFER</h1>
<div class="scroller" data-direction="right" data-speed="slow">
  <div class="scroller__inner">
    <div class="skill">
      <img src="assets/about me/data visualisation.png" class="skill" alt="Data Visualisation" />
      <p>Data Visualisation</p>
    </div>
    <div class="skill">
      <img src="assets/about me/deep learning.png" class="skill" alt="ML/DL Model Development" />
      <p>ML/DL Model Development</p>
    </div>
    <div class="skill">
      <img src="assets/about me/WEB DEV.png" class="skill" alt="Web Development" />
      <p>Web Development</p>
    </div>
    <div class="skill">
      <img src="assets/about me/GAN.webp" class="skill" alt="Generative AI and Prompt Engineering" />
      <p>Generative AI and Prompt Engineering</p>
    </div>
    <div class="skill">
      <img src="assets/about me/devops.png" class="skill" alt="DevOps" />
      <p>DevOps</p>
    </div>
  </div>
</div>
</div>
